<!-- 
    Site Indexing toggled by key value of `private` in Page/Post Settings 
    404.html and 404.php are noindex, nofollow by default
-->
<meta name="robots" content=
{{- if or (.Params.private) (in (string .Permalink) "404.html") (in (string .Permalink) "404.php") -}}
    "noindex, nofollow"
{{- else -}}
    "index, follow"
{{ end }} />

<!-- Meta Keywords/Tags for Users to search for in Search Engines -->
<meta name="keywords" content="
{{- with .Params.tags }}
    {{- range . -}}
        {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
            {{- .Title -}},
        {{- end }}
        {{- end }}
    {{- else -}}
        Tutorials, Tips, Linux, Bash, Docker
{{- end }}" />    

<!-- Canonical URLs -->
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Site.LanguageCode }}" />

<!-- Links to RSS Feed -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}